@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  background-color: #f7f7f7;
}
.quicksand-uniquifier {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* ---------------------------------------------------------------------- HEADER ---------------------------------------------------------------------- */
.header {
  max-width: 1440px;
  margin: 0 auto;
}

.sec-margin-center {
  max-width: 1440px;
  margin: 0 auto;
}
/* ---------------------------------------------------------------------- NAV ---------------------------------------------------------------------- */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-logo-box {
  align-items: center;
}
.nav-logo {
  width: 62px;
  height: 62px;
}
.nav-logo-title {
  font-size: 2rem;
  font-weight: 700;
  color: #111111;
}
.nav-ul {
  margin-left: 32px;
}
.nav-li {
  list-style: none;
  margin-left: 32px;
}
.nav-links {
  text-decoration: none;
  color: #05d4df;
  font-size: 1.25rem;
  font-weight: 500;
}
.nav-btn {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #fea301;
  padding: 10px 60.5px;
  border: none;
  border-radius: 12px;
}

/* ---------------------------------------------------------------------- SHARE ---------------------------------------------------------------------- */

.home-color {
  color: #fea301;
}
.about-color {
  color: #01acfd;
}
.admission-color {
  color: #5d58ef;
}
.black-btn {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #111111;
  padding: 15px 47px;
  border: none;
  border-radius: 12px;
}
.round-btn {
  font-size: 2.25rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #fea301;
  padding: 15px 25px;
  border: none;
  border-radius: 50%;
}
.green-btn {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #95B226;
  padding: 9px 20px;
  border: none;
  border-radius: 50px;
}
.display-flex {
  display: flex;
}

/* ---------------------------------------------------------------------- BANNER ---------------------------------------------------------------------- */
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.banner-box {
  justify-content: center;
  align-items: center;
}
.banner-box-mar {
  padding: 0px;
  margin: 122px 0px;
}
.banner-title {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 24px;
  padding: 0px;
}

.banner-info {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
  padding: 0px;
}
.banner-img-box {
  max-width: 470px;
  height: 575px;
  margin-left: 50px;
}

/* ------------------------------------------------------------  STANDERD CURRICULUM  ------------------------------------------------------------ */
.Standard-bg-img {
  background: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto;
}
.Standard-Curriculum {
  padding: 60px 0px;
}
.Standard-main-title {
  font-size: 2.875rem;
  font-weight: 700;
  color: #000;
}
.Standard-box {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.Standard-mid-box {
  margin: 80px 0;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

.standard-grad-box {
  border: 2px black solid;
  border-radius: 18.86px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 367.805px;
  height: 476.784px;
}
.grad-box-img {
  max-width: 142px;
  max-height: 124px;
}
.grad-box-title {
  font-size: 1.533rem;
  font-weight: 700;
}
.grad-box-info {
  font-size: 1rem;
  font-weight: 500;
}

.grad-box-link {
  text-decoration: none;
  font-size: 0.98rem;
  font-weight: 500;
}

#grad01 {
  border: 0.943px solid #def5ff;
  background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
#grad02 {
  border: 0.943px solid #fff4dc;
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
#grad03 {
  border: 0.943px solid #f2e8ff;
  background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
/* ------------------------------------------------------------ OUR STORIES ------------------------------------------------------------ */
#grad04{
  border: 0.943px solid #fff4dc;
  background: linear-gradient(0deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.sec-bg-img {
  background: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto;
}
.storie-box-main{
  gap: 20px;
}

.storie-box{
  background-color: #fff;
  border-radius: 16px;
  border: 5px solid black;
}
.Stories-top-title{
  font-size: 2.875rem;
  font-weight: 700;
}
.stories-up-down{
  text-align: center;
}

.sky-blue-btn{
  font-size: 1.rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #3CD8E8;
  padding: 15px 25px;
  border: none;
  border-radius: 50px;
}

/* margin */
.btn-margin-1{
margin-top: -300px;
margin-left: 40px;
}
.img-margin{
  margin-bottom: -10px;
}
.btn-margin-2{
  margin-top: -300px;
  margin-left: 40px;
  }
/* margin */


.storie-title{
  font-size: 1.5rem;
  font-weight: 700;
}
.storie-info{
  font-size: 1rem;
  font-weight: 400;
}
.storie-grid-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
/* ------------------------------------------------------------ FOOTER ------------------------------------------------------------ */
.footer-main-box{
  background-color: #01ACFD;
   height: 520px;
   align-content: center;
}
.logo-w{
  max-height: 83px;
  max-width: 83px;
}
.footer-logo-title{
  font-size: 2.634rem;
  font-weight: 700;
  color: #FFF;
}
.footer-title{
  font-size: 1.625rem;
  font-weight: 700;
  color: #FFF;
}
.footer-info{
  font-size: 1rem;
  font-weight: 400;
  color: #FFF;
}
.footer-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-logos{
  gap: 20px;
}
.logo-w-text{
  flex-direction: row;
}
